@import 'variables';

/* ==================================== media queries for Home ==================================== */

@mixin HomeBreak {
	@media (max-width: 767px) {
		.center-div {
			left: 40%;
		}
		img {
			left: 1rem;
			position: relative;
		}
	}

	@media (max-width: 367px) {
		.center-div {
			p {
				font-size: 12px;
			}
			nav {
				ul {
					top: -70px;
					right: -70px;
					position: relative;
					li {
						margin: 0 20px 20px 0;
					}
				}
			}
		}
		footer {
			bottom: 0;
			p {
				font-size: 12px;
			}
		}
	}
}

/* ==================================== media queries for About ==================================== */

@mixin AboutBreak {
	@media (max-width: 767px) {
		.about-me {
			.portfolio {
				height: 74vh;
				overflow: $AOverflow;
			}
			.education {
				height: 80vh;
				overflow: $AOverflow;
			}
		}
	}
	@media (max-width: 600px) {
		.about-me {
			display: block;
			aside,
			.education,
			.portfolio {
				height: $AHeight;
				flex-basis: $fullWidth;
			}
			.portfolio {
				height: 50vh;
				flex-basis: $fullWidth;
				.container {
					.Task {
						width: 56%;
						height: $AHeight;
						margin: auto auto 1rem auto;
					}
				}
			}
			.education {
				height: 50vh;
				flex-basis: $fullWidth;
			}
		}
	}
}
