// colors variables.
$HColors: #231c1c;
$WhiteColor: #fff;
$WhiteBg: #fff;
$main_bg: linear-gradient(to bottom, #52566e, #7e91b9);
$boxShadow: inset 5px 5px 5px #928f8f33, inset -5px -5px 15px #ffffff1a,
	5px 5px 15px #0000004d, -5px -5px 15px #ffffff1a;
