@import 'variables';
@mixin Global {
	margin: $ZMargin;
	padding: $ZPadding;
	box-sizing: border-box;
}

@mixin Preloader {
	width: $fullWidth;
	height: $fullHeight;
	position: fixed;
	background: $WhiteColor;
	z-index: 101010101010;
	display: inline-block;

	.fa-spinner {
		top: 50%;
		left: 50%;
		color: #000;
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

@mixin FlexCombo {
	display: $flex;
	align-items: $ACenter;
	justify-content: $JCenter;
}

// Only for About page for now.
@mixin portEdu($Height, $Flow) {
	margin: 15px 10px;
	border-radius: 25px;
	padding-bottom: 20px;
	background: $main_bg;
	height: $Height;
	overflow: $Flow;
	box-shadow: inset 5px 5px 5px #928f8f33, inset -5px -5px 15px #ffffff1a,
		5px 5px 15px #0000004d, -5px -5px 15px #ffffff1a;
}
// Active Hamburger Menu.
@mixin Hamburger {
	top: 0;
	right: 0;
	width: 60px;
	height: 46px;
	background: #5f6f9a;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 5px;
	box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.5);

	&::before {
		content: '';
		width: 28px;
		height: 2px;
		background: $WhiteColor;
		position: absolute;
		transition: 0.5s;
		transform: translateY(-5px);
	}
	&::after {
		content: '';
		width: 28px;
		height: 2px;
		background: $WhiteColor;
		position: absolute;
		transition: 0.5s;
		transform: translateY(5px);
	}
	&.active::before {
		transform: translateY(0) rotate(45deg);
	}
	&.active::after {
		transform: translateY(0) rotate(-45deg);
	}
	&.active {
		background: #cf2f4f;
	}
}
//Progress bar.
@mixin ProgressBar {
	background-color: #343a40;
	background-size: 100% 100%;
	animation: progress-bar-stripes 1s linear infinite;
	// -ms-animation: progress-bar-stripes 1s linear infinite;
	// -webkit-animation: progress-bar-stripes 1s linear infinite;
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);
}
