$fullWidth: 100%;
$fullHeight: 100vh;
$upperCase: uppercase;
$ZPadding: 0;
$ZMargin: 0;
$listNone: none;
$disNone: none;
$borderNone: none;
$decoration: none;
$bold: bold;
$TCenter: center;
$ACenter: center;
$JCenter: center;
$Capitalize: capitalize;
$ONone: none;
$AHeight: auto;
$FlowHide: hidden;
$AOverflow: auto;
$flex: flex;
