@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&display=swap');
*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'IBM Plex Sans Condensed', sans-serif;}

$fullwidth: 100%;  // create variable.
	/* ==================preloader section start.================== */
#preloader {
    width: $fullwidth;
    height: 100vh;
    position: fixed;
    background: #fff;
    z-index: 101010101010;
    display: inline-block;

    .fa-spinner{
		top: 50%;
		left: 50%;
		color: #000;
		position: absolute;
		transform: translate(-50% , -50%);
} }
/*======================== header start======================== */
header{
	width: $fullwidth;
	height: 100vh;
	background: linear-gradient(#ffffffb3,#ffffff99),url('../image/hero.png') top left no-repeat;
	
	img{width: 6rem; height: 4rem;}
	.center-div{
	    right: 0;
	    top: 25%;
	    left: 20%;
	    bottom: 0;
		position: absolute;
	    background: transparent;
	    transform: translate(-50px, -50px);
	
	.heading{
	h1{
		color: #45505b;
		font-weight: 700;
		line-height: 56px;
		font-size: 64px!important;
		text-transform: uppercase!important;
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	p{
		padding: 0;
		font-size: 30px!important;
		text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
	}
	nav{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		li:nth-child(2){padding: 0px 0 0 20px;} li:nth-child(3){padding: 25px 0 0 20px;}
		li{
			display: inline-block;
			padding: 10px 0 0 0px;
		a,a:hover{
			color: #fff;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 1px;
			border-radius: 50px;
			background: #45505b8a;
			text-decoration: none;
			text-transform: uppercase;
		a .fa{
			font-size: 20px!important;
	} } } } } }
	.social-icons{
		display: flex;
	}
	.social-icons a{
		color: #40555b;
		line-height: 1;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 0 10px;
		padding: 10px 5px;
		text-align: center;
} } }
/* =============================footer section start============================= */
footer{
	bottom: 20px;
	width: $fullwidth;
	height: auto;
	position: absolute;
	p {
		margin: 0;
		padding: 0;
  		color: #334434;
  		font-size: 15px;
 		font-weight: 400;
		text-align: center;
  	}
	.copyright{
		display: flex;
		justify-content: center;
	a,a:hover{
		outline: none;
		color: #40555b;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		text-transform: capitalize;
} } }
/* ===================================media querries=================================== */
@media (max-width: 767px) {
	.center-div{
	    left: 40%;
	}
	img{
        left: 1rem;
        position: relative;
    } }