// Display cart media queries

@media (max-width:767px) {
    .products-container {
        .product-header {
            .product-title {@include flexAlign(1,15px); flex-basis: 24%}
            .price {@include flexAlign(1,15px);}
            .quantity {@include flexAlign(1,15px);}
            .total {@include flexAlign(1,15px);}
        }
        .basketTotalContainer {
    
            .basketTotalTitle {
                flex-basis: 18%;
            }
            .basketTotal {
                flex-basis: 13%;
            }
        }
    }
}
@media (max-width:575px) {
    .products-container {
        .product-header {
            .product-title {flex-basis: 16%}
        }
        .basketTotalContainer {
    
            .basketTotalTitle {
                flex-basis: 19%;
            }
            .basketTotal {
                flex-basis: 15%;
            }
        }
    }
}