@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* universal selectors */
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lato', sans-serif;}
	html{scroll-behavior: smooth;}
	#preloader {
		width: 100%;
		height: 100vh;
		position: fixed;
		background: #fff;
		z-index: 101010101010;
		display: inline-block;
	}
	#preloader .fa-spinner{
		top: 50%;
		left: 50%;
		color: #000;
		position: absolute;
		transform: translate(-50% , -50%);
}
nav input:focus{
	outline: none;
}
/* product-tab start */
.product-tab{
	width: 100%;
	height: 100vh;
	padding: 20px 0;
}
.pcard {
	margin: 15px 0;
	text-align: center;
	font-family: sans-serif;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.pcard img{
	width: 100%;
    height: auto;
}
.pcard h1{
	color: #433;
	width: 100%;
	display: flex;
	font-size: 27px;
	font-weight: 600;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
}
.pcard .price {
  width: 100%;
  color: grey;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pcard button {
  outline: 0;
  width: 100%;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  background-color: #000;
}

.pcard button:hover {
  opacity: 0.7;
}
/*add style for cart.html page.*/
.products-container{
	height: auto;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-bottom: 100px;
	justify-content: space-around;
	}
	.product-header{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		border-bottom: 4px solid lightgrey;
		margin: 0 auto;
	}
	.product-title{
		width: 45%;
		display: flex;
		align-items: center;
	}
	.price{
		width: 25%;
		display: flex;
		align-items: center;
	}
	.quantity{
		width: 15%;
		display: flex;
		align-items: center;
	}
	.total{
		width: 15%;
		display: flex;
		justify-content: center;
	}
	.product{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px 0;
	justify-content: space-around;
	border-bottom: 1px solid lightgrey;
	}
	.product img{
		width: 10%;
	    height: auto;
	}
	.products .product .align{display: flex; justify-content: center;}
	.product .quantity button,
	.product .quantity button:focus{
    color: #434;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
	background: #fff;
	}
	.basketTotalContainer{
	width: 100%;
	display: flex;
	padding:10px 0;
	justify-content: flex-end;
	}
	.basketTotalTitle{width: 30%;}
	.basketTotal{width: 13%;
}
/* =============================footer section start============================= */
footer{
	width: 100%;
	height: auto;
	padding-top: 20px;
	background: #fff;
	}
	footer p {
		margin: 0;
		padding: 0;
  		color: #334434;
  		font-size: 15px;
 		font-weight: 400;
		text-align: center;
  	}
  	.social-icons{
		display: flex;
		justify-content: center;
	}
	.social-icons a,
	.social-icons a:hover{
		line-height: 1;
		font-size: 20px;
		font-weight: 400;
		margin: 0 0 0 10px;
		padding: 0px  5px 0;
		text-align: center;
	}
	.fa-facebook,
	.fa-instagram{color: #40555b;}
	.copyright{
		display: flex;
		justify-content: center;
	}
	.copyright a,
	.copyright a:hover{
		outline: none;
		color: #40555b;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		text-transform: capitalize;
}