@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif;}
	i{
		color: #19c;
	}
	h2{
		color: #45505b;
		font-size: 18px;
		font-weight: 700;
		text-transform: capitalize;
	}
	h1{
		left: 5%;
	    color: #444;
	    bottom: 50px;
	    font-size: 30px;
	    font-weight: bold;
	    position: relative;
	    background: transparent;
	    text-transform: capitalize;
	}
	#preloader {
		width: 100%;
		height: 100vh;
		position: fixed;
		background: #fff;
		z-index: 101010101010;
		display: inline-block;
	}
	#preloader .fa-spinner{
		top: 50%;
		left: 50%;
		color: #444;
		position: absolute;
		transform: translate(-50% , -50%);
}
/* .about-me section start */
 nav img{
 	width: 4rem;
	height: 2.3rem;
	}
	.about-me{	
		height: auto;
		display: flex;
		flex-basis: 100%;
		overflow: hidden;
		background-color: #dededeed;
}
/* aside/left side */
.about-me aside{
	height: auto;
	flex-basis: 30%;
	overflow: hidden;
	background: #fff;
	margin: 15px 10px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .5) ;
	}
	aside img{
		width: 100%;
		height: auto;
		background-color: #ddd;
	}
	.designation{
		bottom: 20px;
		padding: 0 0 0 5%;
		position: relative;
		border-bottom: 1px solid darkslategrey;
	}
	.designation p{
		color: dimgrey;
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
	}
	.about-me .skills{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.about-me .set-lang{
		margin-top: 30px;
	}
	.skills span{
		padding: 5px 0;
		color: #5288bf;
		display: block;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 600;
		margin: 3px 0 0 0;
		font-style: italic;
		letter-spacing: 2px;
		text-transform: uppercase;
	} 
	.skills span i{
		float: right;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		font-style: italic;
	}
	.skills .progress{
		height: 10px;
	}
	.skills .progress-bar{
	   	background-color: #343a40;
	   	background-size: 100% 100%;
	   	animation: progress-bar-stripes 1s linear infinite;
	   	-ms-animation: progress-bar-stripes 1s linerar infinite;
		-webkit-animation: progress-bar-stripes 1s linear infinite;
	   	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
/* main/right side */
.about-me .portfolio,
	.about-me .education{
		height: 59vh;
		overflow: auto;
		background: #fff;
		margin: 15px 10px;
		padding-bottom: 20px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, .5) ;
	}
	.about-me .education{
		height: 90vh;
		overflow: hidden;
	}
	.portfolio .container,
	.education .container{
		padding: 15px;
	}
	.portfolio .container .Task {
		width: 100%;
		margin: 0 0 1rem 0;
		position: relative;
	}
	.Task .image {
	  width: 100%;
	  height: auto;
	  display: block;
	}
	.Task .overlay { 
	  bottom: 0;
	  opacity:0;
	  width: 100%;
	  padding: 20px;
	  position: absolute;
	  transition: 1.5s ease;
	  background: rgb(0, 0, 0);
	  background: rgba(0, 0, 0, 0.5);
	}
	.overlay a,
	.overlay a:hover{
		color: #fff;
		display: flex;
		font-size: 20px;
		font-weight: 400;
		text-decoration: none;
		justify-content: center;
		text-transform: uppercase;
	}
	.Task:hover .overlay{opacity: 1;}
	.education h1{
		left: 0%;
	    bottom: -5px;
	    font-weight: 800;
	}
	.education .course{
		width: 100%;
	    height: auto;
	    overflow: hidden;
	    margin-top: 1.2rem;
	    padding: 10px 10px 0px 20px;
	    border-bottom: 1px solid #d3d3d3;
	}
	.education .none{border-bottom: none;}
	.course h3{
		color: #333;
		font-size: 18px;
	    font-weight: 500;
	    padding: 0 0 10px 0;
	    text-transform: uppercase;
	}
	.course h6,
	.course h6 i{
		color: #23b323;
		font-size: 16px;
	    font-weight: 300;
	    padding-right: 25px;
	    padding-bottom: 20px;
}

/* =============================footer section start============================= */
footer{
	width: 100%;
	height: auto;
	background: #dededeed;
	}
	footer p {
		margin: 0;
		padding: 0;
  		color: #334434;
  		font-size: 15px;
 		font-weight: 400;
		text-align: center;
  	}
  	.social-icons{
		display: flex;
		justify-content: center;
	}
	.social-icons a,
	.social-icons a:hover{
		line-height: 1;
		font-size: 20px;
		font-weight: 400;
		margin: 0 0 0 10px;
		padding: 0px  5px 0;
		text-align: center;
	}
	.fa-facebook,
	.fa-instagram{color: #40555b;}
	.copyright{
		display: flex;
		justify-content: center;
	}
	.copyright a,
	.copyright a:hover{
		outline: none;
		color: #40555b;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		text-transform: capitalize;
	}

/* ====================================media queries==================================== */

@media(max-width: 767px) {
	.about-me .education{
		height: 100vh;
		overflow: auto;}
	}
	@media(max-width: 575px) {
		.about-me{
			display: block;
		}
		.about-me aside,
		.about-me .education
		.about-me .portfolio{
			height: auto;
			flex-basis: 100%;
		}
		.about-me .education,
		.about-me .portfolio{
			height: 78vh;
			flex-basis: 100%;
		}
}