@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
/* universal selectors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-family: 'Mulish', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  z-index: 101010101010;
  display: inline-block;
}

#preloader .fa-spinner {
  top: 50%;
  left: 50%;
  color: #000;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav {
  top: 0;
  z-index: 111111;
  position: -webkit-sticky !important;
  position: sticky !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
}

nav input:focus {
  outline: none;
  padding: 2px;
  border-radius: 5px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.product-tab {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
}

.product-tab .pCard {
  margin: 10px 0;
  width: 90%;
  height: auto;
  text-align: center;
  font-family: sans-serif;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.product-tab .pCard img {
  width: 100%;
  height: auto;
}

.product-tab .pCard h1 {
  color: #433;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

.product-tab .pCard .price {
  width: 100%;
  color: grey;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-tab .pCard button {
  outline: 0;
  width: 100%;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  background-color: #000;
}

.product-tab .pCard button:hover {
  opacity: 0.7;
}

.product-tab footer {
  width: 100%;
  height: auto;
  padding-top: 20px;
  background: #fff;
}

.product-tab footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-tab footer .social-icons a, .product-tab footer .social-icons a:hover {
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0px  5px 0;
  text-align: center;
}

.product-tab footer .social-icons .fa-facebook, .product-tab footer .social-icons .fa-instagram {
  color: #40555b;
}

.product-tab footer p {
  margin: 0;
  padding: 0;
  color: #334434;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.product-tab footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-tab footer .copyright a {
  outline: none;
  color: #40555b;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-tab footer .copyright a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=cart.css.map */