@import 'var';
// mixin here.

@mixin Global {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Ubuntu', cursive, sans-serif;
	box-sizing: border-box;
}

@mixin active {
	top: 0;
	right: 0;
	width: 60px;
	height: 55px;
	cursor: pointer;
	display: $Flex;
	align-items: $ACenter;
	justify-content: $jCenter;
	position: absolute;
	background: linear-gradient(123deg, #0a1121, #0b111d, #0c121e, #12151c);
	&::before {
		content: '';
		width: 28px;
		height: 2px;
		background: $whiteClr;
		position: absolute;
		transition: 0.5s;
		transform: translateY(-5px);
	}
	&::after {
		content: '';
		width: 28px;
		height: 2px;
		background: $whiteClr;
		position: absolute;
		transition: 0.8s;
		transform: translateY(5px);
	}
	&.active::before {
		transform: translateY(0) rotate(45deg);
	}
	&.active::after {
		transform: translateY(0) rotate(-45deg);
	}
}

@mixin button {
	color: $whiteClr;
	font-size: 14px;
	padding: 5px 10px;
	margin: 0 20px 0 0;
	border-radius: 10px;
	border: 1px solid $whiteClr;
	text-transform: $Capitalize;
	&:hover {
		border: $bNone;
		color: #432500 !important;
		background: #fec200;
	}
}
@mixin defineArea {
	height: 70vh;
	display: $Flex;
	margin-top: 1rem;
	flex-basis: $fullWidth;
	border: 2px solid;
	align-items: $ACenter;
	border-radius: 150px;
	background: #091020;
	justify-content: $jCenter;
	box-shadow: 5px -5px 25px #00000080;
}
@mixin searSelectH1 {
	font-size: 2.5rem;
	padding-bottom: 20px;
	text-transform: $upperCase;
}
@mixin searSelectP {
	font-size: 0.98em;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 2px;
}
