@import 'mixins';
@import 'var';
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Ubuntu&display=swap');
* {
	@include Global;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: linear-gradient(to bottom, #091020, #7e91b9);
}

body {
	background: linear-gradient(123deg, #0a1121, #0b111d, #0c121e, #12151c);
}
nav {
	width: $fullWidth;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 5px 25px rgba(255, 255, 255, 0.05);
	background: linear-gradient(123deg, #0a1121, #0b111d, #0c121e, #12151c);

	.navbar-brand {
		font-weight: 700;
		font-size: 20px;
		font-style: italic;
		color: $whiteClr !important;
		text-transform: $Capitalize;
	}
	.ul_center {
		margin: 0 auto;
	}
	a {
		font-size: 14px;
		font-weight: 300;
		color: $whiteClr !important;
		text-transform: $Capitalize;
	}
	.btn {
		@include button;
	}
	.toggle {
		@include active;
	}
}
header,
.extra,
.search,
.selection,
footer {
	@include defineArea;
}
header {
	div {
		flex: 1;
		padding: 20px;
		h1 {
			color: $whiteClr;
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: 1px;
			line-height: 50px;
			text-transform: $Capitalize;
			text-shadow: 2px 2px solid #ffffff0d;
		}
		p {
			color: $whiteClr;
			font-size: 0.73rem;
			font-weight: 400;
			line-height: 2;
		}
		.btn {
			@include button;
		}
		.image {
			width: 400px;
			height: $aHeight;
		}
	}
}
.search {
	background: #d0e9f0;
	div {
		flex: 1;
		padding: 20px;
		text-align: $tCenter;
		h1 {
			color: #171715;
			@include searSelectH1;
		}
		p {
			color: #050505;
			@include searSelectP;
		}
		.btn {
			@include button;
			color: #171715;
			border-color: #171715;
		}
		.image {
			width: 400px;
			height: $aHeight;
		}
	}
}
.selection {
	div {
		flex: 1;
		padding: 20px;
		h1 {
			color: $whiteClr;
			@include searSelectH1;
		}
		p {
			color: $whiteClr;
			@include searSelectP;
		}
		.btn {
			@include button;
		}
		.image {
			width: 400px;
			height: $aHeight;
		}
	}
}
.extra {
	height: $aHeight;
	border-top: $bNone;
	text-align: $tCenter;
	background: transparent;
	border-radius: 0px 150px 0px 150px / 0px 150px 0px 150px;
	div {
		flex: 1;
		padding: 20px;
		.fa-video-camera {
			color: #ffbf00;
			font-size: 1.8rem;
			padding-bottom: 15px;
		}
		h3 {
			color: $whiteClr;
			font-size: 1.5rem;
			font-weight: 500;
			letter-spacing: 1px;
			padding-bottom: 15px;
			text-transform: $upperCase;
		}
		p {
			color: $whiteClr;
			font-size: 0.75rem;
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: $Capitalize;
		}
	}
}
footer {
	height: $aHeight;
	padding: 10px 30px;
	background: transparent;
	div {
		flex: 1;
		ul {
			list-style: none;
			li {
				color: #f8e8e8;
				padding: 5px 0;
				font-size: 14px;
				font-weight: 400;
				text-transform: $upperCase;
			}
		}
		h4 {
			color: #dad4d5;
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 2px;
			text-align: left;
			text-transform: $Capitalize;
		}
		.fa {
			color: #dad4d5;
			font-size: 14px;
			font-weight: 500;
			padding-right: 5px;
		}
		p {
			color: #e9d8db;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}
}
@import 'break';
