@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import '../abstracts/colors';
@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/breakpoints';
* {
	@include Global;
	font-weight: 300;
	font-family: 'Mulish', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
	&:hover {
		width: 10px;
	}
}
::-webkit-scrollbar-thumb {
	background: $main_bg;
	border-radius: 8px;
}
#preloader {
	@include Preloader;
}
i {
	color: #19c;
}
h2 {
	color: $HColors;
	font-size: 18px;
	font-weight: 700;
	text-transform: $Capitalize;
}
h1 {
	left: 5%;
	color: $HColors;
	bottom: 50px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	background: transparent;
	text-transform: $Capitalize;
}
/* .about-me section start */
nav {
	background: $main_bg;
	img {
		width: 4rem;
		height: 2.3rem;
	}
	.toggle {
		@include Hamburger;
	}
}
.about-me {
	height: $AHeight;
	display: $flex;
	overflow: $FlowHide;
	background: $main_bg;
	flex-basis: $fullWidth;

	/* aside/left side */
	aside {
		flex-basis: 30%;
		height: $AHeight;
		overflow: $FlowHide;
		background: $main_bg;
		margin: 15px 10px;
		padding-bottom: 20px;
		border-radius: 25px;
		box-shadow: $boxShadow;

		img {
			width: $fullWidth;
			height: $AHeight;
			background: linear-gradient(to bottom, #52566e, #7e91b9);
		}
		.designation {
			bottom: 20px;
			padding: 0 0 0 5%;
			position: relative;
			border-bottom: 1px solid #2f4f4f;
			p {
				color: $WhiteColor;
				font-size: 14px;
				font-weight: 400;
				text-transform: $Capitalize;
			}
		}
		.skills {
			width: $fullWidth;
			height: 200px;
			overflow: $AOverflow;

			span {
				color: $WhiteColor;
				padding: 5px 0;
				display: block;
				font-size: 13px;
				line-height: 1.2;
				font-weight: 600;
				margin: 3px 0 0 0;
				font-style: italic;
				letter-spacing: 2px;
				text-transform: $upperCase;
				i {
					float: right;
					color: $WhiteColor;
					font-size: 12px;
					font-weight: 500;
					line-height: 1.2;
					font-style: italic;
				}
			}
			.progress {
				height: 10px;
				box-shadow: $boxShadow;

				.progress-bar {
					@include ProgressBar;
				}
			}
		}
		.set-lang {
			margin-top: 30px;
		}
	}
	/* main/right side */
	.portfolio {
		// height: 61vh;
		// overflow: auto;
		@include portEdu(61vh, auto);
		.container {
			padding: 15px;
			.Task {
				width: $fullWidth;
				margin: 0 0 1rem 0;
				position: relative;
				border-radius: 20px;
				box-shadow: $boxShadow;
				.image {
					width: $fullWidth;
					height: $AHeight;
					border-radius: 18px;
					display: block;
				}
				.overlay {
					bottom: 0;
					opacity: 0;
					width: $fullWidth;
					padding: 20px;
					position: absolute;
					transition: 1.5s ease;
					background: rgb(0, 0, 0);
					background: rgba(0, 0, 0, 0.5);
					a,
					a:hover {
						color: $WhiteColor;
						display: $flex;
						font-size: 20px;
						font-weight: 400;
						text-decoration: $decoration;
						justify-content: $JCenter;
						text-transform: $upperCase;
					}
				}
				&:hover .overlay {
					opacity: 1;
					border-radius: 18px;
				}
			}
		}
	}
	.education {
		@include portEdu(auto, hidden);
		height: $AHeight;
		overflow: $FlowHide;

		.container {
			padding: 15px;
		}
		h1 {
			left: 0%;
			bottom: -5px;
			font-weight: 800;
		}
		.course {
			width: $fullWidth;
			height: $AHeight;
			overflow: $FlowHide;
			margin-top: 1.2rem;
			padding: 10px 10px 0px 20px;
			border-bottom: 1px solid #d3d3d3;
			h3 {
				color: $WhiteColor;
				font-size: 18px;
				font-weight: 500;
				padding: 0 0 10px 0;
				text-transform: $upperCase;
			}
			h6,
			h6 i {
				color: #000;
				font-size: 16px;
				font-weight: 300;
				padding-right: 25px;
				padding-bottom: 20px;
			}
			&:nth-child(4) {
				border: $borderNone;
			}
		}
	}
}
/* =============================footer section start============================= */
footer {
	width: $fullWidth;
	height: $AHeight;
	padding: 10px 0 0 0;
	background: $main_bg;
	box-shadow: $boxShadow;
	.social-icons {
		display: $flex;
		justify-content: $JCenter;
		a,
		a:hover {
			line-height: 1;
			font-size: 18px;
			font-weight: 400;
			margin: 0 0 0 10px;
			padding: 0px 5px 0;
			text-align: $TCenter;
		}
		.fa {
			color: $WhiteColor;
		}
	}
	p {
		margin: $ZMargin;
		padding: $ZPadding;
		color: $WhiteColor;
		font-size: 12px;
		font-weight: 400;
		text-align: $TCenter;
	}
	.copyright {
		display: $flex;
		justify-content: $JCenter;
		a,
		a:hover {
			outline: $ONone;
			color: $WhiteColor;
			font-size: 12px;
			font-weight: 500;
			text-decoration: $decoration;
			text-transform: $Capitalize;
		}
	}
}

@include AboutBreak;
