@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&display=swap');
@import '../abstracts/colors';
@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/breakpoints';

* {
	@include Global;
	font-weight: 300;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/* ==================preloader section ================== */
#preloader {
	@include Preloader;
}
/*======================== header section ======================== */
header {
	width: $fullWidth;
	height: $fullHeight;
	background: linear-gradient(140deg, #222121f9, #08080898),
		url('../../image/hero.png') top left no-repeat;

	img {
		width: 6rem;
		height: 4rem;
	}
	.center-div {
		top: 25%;
		right: 0;
		left: 20%;
		bottom: 0;
		position: absolute;
		background: transparent;
		transform: translate(-50px, -50px);

		.heading {
			h1 {
				color: #9fabb9;
				font-weight: 700;
				line-height: 56px;
				font-size: 64px !important;
				text-transform: $upperCase !important;
				text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			}
			p {
				padding: $ZPadding;
				color: #979ea7;
				font-size: 30px !important;
				text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
			}
			.social-icons {
				display: $flex;
				a {
					color: #b0c1c5;
					line-height: 1;
					font-size: 20px;
					font-weight: 500;
					margin: 0 0 0 10px;
					padding: 10px 5px;
					text-align: $TCenter;
				}
			}
			nav {
				ul {
					margin: $ZMargin;
					padding: $ZPadding;
					list-style: $listNone;
					li {
						display: inline-block;
						padding: 12px 0 0 0px;

						button {
							width: 150px;
							height: 50px;
							border: $borderNone;
							border-radius: 50px;
							background: #303031;
							box-shadow: inset 16px 16px 32px #29292a,
								inset -16px -16px 32px #373738;
							&:focus {
								border: $borderNone;
								outline: $ONone;
							}
							a {
								font-size: 15px;
								font-weight: bold;
								color: #c5cad199;
								text-align: $TCenter;
								letter-spacing: 1px;
								text-decoration: $decoration;
								text-transform: $upperCase;
								&:hover {
									color: #f3e2e2;
								}
								.fa {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* =============================footer section ============================= */
footer {
	bottom: 20px;
	width: $fullWidth;
	height: $AHeight;
	position: absolute;
	p {
		margin: $ZMargin;
		padding: $ZPadding;
		color: #d0d9e4;
		font-size: 15px;
		font-weight: 400;
		text-align: $TCenter;
	}
	.copyright {
		display: $flex;
		justify-content: $JCenter;
		a,
		a:hover {
			outline: $ONone;
			color: #40555b;
			font-size: 15px;
			font-weight: 500;
			text-decoration: $decoration;
			text-transform: $Capitalize;
		}
	}
}

@include HomeBreak;
