/* universal selector */
html{scroll-behavior: smooth; }
	*{margin: 0px; padding: 0px; box-sizing: border-box;}

    $none: none; $fullwidth: 100%; $whitecolr: #fff; $absolute: absolute; $A22colr: #A52A2A; $capitalize: capitalize; // create variables n mixin.

@mixin newsletter {
	form{
	.input-field{
		width: 7rem!important;
		height: 2.8125rem!important;
		border-top-left-radius: 100px!important;
		border-bottom-left-radius: 100px!important;
	}
	.input-button{
		outline: $none;
		width: 7rem!important;
		text-transform: $capitalize;
		font-size: 1.1rem!important;
		height: 2.8125rem!important;
		color: $whitecolr!important;
		border-top-right-radius: 100px!important;
		border-bottom-right-radius: 100px!important;
		background: linear-gradient(rgba(168, 0, 10, 0.6), rgba(100, 0, 10, 0.5));
	} 
	&:hover .input-button,
	&:hover .input-field{
		line-height: 1.6;
		width: 8rem!important;
		height: 3rem!important;
		font-size: 1.3rem!important;
		transition: .4s ease-in-out;
	} }	}
@mixin fullheiwidNrel {
	width: $fullwidth;
	height: 100vh;
	position: relative;}
@mixin fullheightwidth {
	width: $fullwidth;
	height: 100vh;}
@mixin beforepos0abs {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	position: $absolute;}

ul{list-style: $none;}
a{text-decoration: $none;}
a:hover{text-decoration: $none;}
h1{
    opacity:.6;
    color: $A22colr;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
p{
   font-size: .9rem;
   line-height: 1.6;
   font-weight: 400;
}
.extra-div h2, .servicediv h2{
   font-size: .9rem;
   font-weight: 600;
   padding: 12px 0;
   word-spacing: 4px;
   text-transform: $capitalize;
}
.heading h1{
   font-size: 1.3rem;
   font-weight: 600;
   line-height: 1.6;
}
/* *************************Header section start.************************* */
header{
	@include fullheiwidNrel;
    background-size: cover;
	background-image: linear-gradient(#c8000066,
		#78000066),url('../image/MOV.jpg');
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 77%, 0% 0%);

	&:before{
		@include beforepos0abs;
		content: "";
        opacity: .4;        
		background: linear-gradient(to bottom, #660000 0%, $whitecolr 0%, #f00 100%);
	}
    nav:before{
		@include beforepos0abs;
		content: "";
		opacity: .2;
		background: linear-gradient(to bottom, #5F021F 50%, $whitecolr 100%);
	}
	.headsection{
		width: $fullwidth;
		height: inherit;
		text-align: center;
		position: relative;

	.headcontent{
		width: $fullwidth;
	    height: auto;
		position: $absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);

	 h1{
		opacity: 1;
	}
	p{
		color: $whitecolr;
		padding: 10px 0 15px 0;
		font-size: 1.3rem;
	}
	.head-buttons a{
		display: inline;
	    color: $whitecolr;
	    font-size: 1.1rem!important;
	    text-transform: $capitalize;
	    border: 1px solid $whitecolr;
	    border-radius: 100px;
	    padding: 12px 35px;
	    outline: $none;
	    box-shadow: 0 0 15px 0 #a001094d;
	 &:hover{
        color: $whitecolr;
		background: linear-gradient(rgba(168, 0, 10, 0.6), rgba(100, 0, 10, 0.5));
	} } } } }

/* ********************* social icons start.**********************  */
.icon-bar{	
	  top: 18%;
	  right: 0;
	  z-index: 101010;
      position: fixed;
      width: 5%!important;
	  padding: 0 10px 0 0px!important;

	.icons{
        transition: .5s ease-in;
        transform: translateY(-50%);

	&:hover{
	  padding: 5px!important;
	}
	a {
	  display: block!important;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  font-size: 20px;
	  border-radius: 50px;
	  box-shadow:0 0 10px 0 rgba(0, 0, 0, .3);
	}
	i{
		color: $whitecolr;
	}
	.facebook {
	  background: #3B5998;
	}
	.twitter {
	  background: #55ACEE;
	}
	.google {
	  background: #dd4b39;
	}
	.linkedin {
	  background: #007bb5;
	}
	.youtube {
	  background: #bb0000;
	}
	.instagram{
		background-image: radial-gradient(circle at top left,#0400ffbf,#ff0000b8);
	} } }

/* ***************** Three extra Header divs Start.********************  */
.extra-divs{
	width: $fullwidth;
    height: auto;
    margin: 100px auto;

	i{
		color: $A22colr;
	}
	.extra-div{
		background: $whitecolr;
		border: medium none;
		padding: 50px!important;
		border-radius: 10px;
		transition: 0.5s;

	p{text-align: justify;}
	&:hover{
        transform: translateY(-20px);
		box-shadow:0 0 20px 0 rgba(0, 0, 0, .3);
	} } }
/* ************************ What do we offer Start.**************************  */
.service{
    padding: 50px 0;
    background: linear-gradient(rgba(168, 0, 0, 0.3), rgba(100, 0, 0, 0.2));

	.name{
    h2{
		font-size: 0.9rem;
	    color: #2e2e2e;
	    font-weight: bold;
	}
	.progress{
		height: 0.6rem!important;
		margin-bottom: 25px!important;
		background: lightgray!important;
	} }
	.service-icons{
		display: flex;
	    justify-content: center;
	    align-items: center;

		i{
			color: $A22colr;
		} } }
/* ********************** Project done Start.*************************  */
.project-work{
	margin: 100px 0 0 0;

    .heading {
    h1{
		font-weight: 400;
		font-size: 2rem;
		color: #600;
	}
	p{
		margin-bottom: 40px;
	} } }
/* ****************** Our best pricing Start.************************  */
.price{
	@include fullheightwidth;
    opacity: .6;
	padding: 50px;
	background: linear-gradient(to top left,#a80000 50%, $whitecolr 50%);
    
    h2{
		opacity:.6;
		color: $A22colr;
	}
	.card{
		transition: .4s;
		text-align: center!important;

	.card-header{
		font-size: 2rem;
	    font-weight: bold;
	    text-align: center;
	    text-transform: uppercase;
	    background: $whitecolr!important;
	    padding: 20px 0!important;
	}
	.card-body{
	    padding: 40px 50px!important;
	    margin: 0 auto;
	li{
		list-style: $none;
	    font-size: 15px;
	    line-height: 2;
	    text-transform: $capitalize;
	
	span{
	    font-size: 40px;
	    line-height: 1;
	    color: #666;
	    font-weight: 400;
	} } }
	.card-footer{
		background: $whitecolr!important;
		padding: 25px 0!important;

	a{
	    border: 1px solid #502;
	    color: #666;
	    border-radius: 100px;
	    padding: 12px 35px;
	    line-height: 1;
	    text-transform: $capitalize;
	    text-decoration: $none;
	    outline: $none;
	} } 
	&:hover .card-footer a{
		color: $whitecolr;
		border: $none;
		outline: $none;
		font-weight: 500;
		text-decoration: $none;
		text-transform: uppercase;
		background: #a8000a99;
	}
	&:hover{
		transform: translateY(-20px);
		border-radius: 0px!important;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	}
	&:hover .card-body span, &:hover .card-header{
		color: #a8000a99;
	} 
	.second{
		transform: translateY(-10px);
	} } }
/* ****************** Our Happy clients Start.*************************  */
.clients{
	@include fullheightwidth;
	padding: 80px 0;

	.box{
		font-size: 20px;
	    font-weight: bold;
		text-align: center;
	    border-radius: 50px;
	    transition: 0.4s ease;
        text-transform: $capitalize;
		border: 1px solid rgba(0,0,0,0.3);
	    box-shadow: 0 5px 10px 0 rgba(100, 0, 0, 0.3);
	
	img{
		width: 100px;
		height: 80px;
		border-radius: 50%;
		margin: 20px 0 0 0;
	}
	h1{
	    font-size: 22px;
	    font-weight: bold;
	}
	h2{
	    font-size: 15px;
	    font-weight: 500;
	    padding-bottom: 10px;
	}
    &:hover{
		background: linear-gradient(rgba(168, 0, 10, 0.6), rgba(100, 0, 10, 0.5));
		border: $none;
		transform: translateY(-10px);
		box-shadow: 0 0 20px 0 rgba(90,0,0,0.6);
    }
	&:hover p, &:hover h2, &:hover h1{
		opacity: 1;
		color: $whitecolr!important;
	} }
	.carousel-indicators{
		bottom: -60px!important;
	
	li{
		background: linear-gradient(rgba(168, 0, 10, 0.6), rgba(100, 0, 10, 0.5));	
	} } }
/* ****************** contact us start.******************************** */
.contactus{
	@include fullheiwidNrel;
	padding: 100px 0;
	box-sizing: border-box;

	&:before{
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
        opacity: .6;
		position: $absolute;
		background: linear-gradient(to top right,#a80000 50%, $whitecolr 50%);
	}
	.form-group{
		margin-bottom: 0rem!important;
		position: relative;
	
    input{
        width: $fullwidth;
        height: auto;
        padding: 10px;
        color: $whitecolr;
        border: none;
        outline: none;
        letter-spacing: 1px;
        font-size: 1.5rem;
        background: transparent;
        border-bottom: 1px solid #000;

        &:focus~label,
        &:valid~label{
            transform: translateY(-30px);
        }
    }
    label{
    	top: 0;
    	left: 10px;
    	bottom: 0;
    	right: 0;
    	letter-spacing: 1px;
    	padding: 20px 0;
    	font-size: 18px;
    	transition: 0.5s;
        position: $absolute;
    	text-transform: $capitalize;
    }
    ::placeholder{
		font-size: 1rem;
		font-weight: 300;
		padding: 0 0 0 5px;
	} }
	button{
		display: $none;
	    color: #060606;
	    font-weight: 400;
	    font-size: 1.3rem!important;
	    text-transform: $capitalize;
	    border: 1px solid #000;
	    border-radius: 100px;
	    padding: 12px 35px;
	    outline: $none;
	    background: transparent;
	    box-shadow: 0 0 10px 0 rgba(160, 1, 9, .3);
	
	&:hover{
		color: #060606;
	    font-size: 25px!important;
	    transition: .7s ease-in-out;
		background: $whitecolr;
	} }
	form:hover button{
		display: block;
		border: $none;
		outline: $none;
	} }
/* ******************* Newsletter start ************************* */
.newsletter{
	width: $fullwidth;
	height: auto;
	margin: 80px auto;

	@include newsletter;
	 }
/* ********************* Footer start.*************************** */
footer{
	width: $fullwidth;
	height: auto;
	padding: 70px 0 20px 0;
	background: #ffb6c1;
	
	@include newsletter;
	h1{
		font-size: 1.2rem;
	    font-weight: bold;
	    margin: 0 0 25px 0;
	    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
	}
	li{
		list-style: $none;
		text-align: center;
	a{
		color: #000;
		text-decoration: $none;
		text-transform: $capitalize;
	&:hover{
		color: #000;
		text-decoration: $none;
		text-align: center;
	} } }
	#mybtn{
		right: 40px;
		z-index: 99;
		bottom: 20px;
		padding: 10px;
		display: $none;
		position: fixed;
		color: $whitecolr;
		font-weight: bold;
		border-radius: 10px;
		background: #ffb6c1;
	
	&:hover{
	background: #ff69b4;
	} } }
/* ======================== media queries ======================== */
@media(max-width:967px){
	.price,.clients,.contactus{
		margin: 50px 0 0 0;
		height: auto;
	}
	.contactus p{
		padding: 0 50px;
	}
	footer{
		margin: 10px 0;
	}
	.icon-bar {
	  width: 10%!important;
	  padding: 0 10px 0 0!important;
	} }
@media(max-width: 576px){
	.icon-bar{
		width: 10%!important;
		padding: 0 10px 0 0px!important;
	.icons{
	i{
		display: flex;
		justify-content: center;
		align-items: center;
	} } } }
@media(max-width: 376px){
	.icon-bar{
		width: 5%!important;
		margin: 0 30px 0 0px!important;
	.icons{
	  transform: translateY(0%);
	&:hover{
	  padding: 0px!important;
	} } } }